<div id="home">
	<div class="row">
		<div class="span12">
			<h2>WELCOME TO</h2>
			<i class="icon-star icon-white"></i>
			<i class="icon-star icon-white"></i>
			<i class="icon-star icon-white"></i>
			<h1>RISE<span class="sixtyfive">65</span></h1>
		</div>
	</div>
</div>