$placeholderText: #ADADAD;
$navbarBackground: #040406;

@import "bootstrap";

$rise_black: #040406;
$rise_white: #ffffff;
$rise_red: #8c1b24;
$rise_gold: #d89d29;
$rise_syncopate: 'Syncopate', sans-serif;
$rise_prosto: 'Prosto One', sans-serif;

body {
  padding-top: 120px;
  background-color: $rise_black;
}

header {
}

body {
	color: $rise_white;
	letter-spacing: 2px;
	font-family: $rise_prosto;
	font-weight: 400;
	font-size: 14px;
	text-align: left;

	background-image: url(image_path('background2.jpg'));
	background-size: cover; 
	background-color: $rise_black;
}

#globalhead {

	.container {
		margin-right: auto;
		margin-left: auto;
	}

	.pager {
		padding: 0;
		margin: 30px 0 0 0;
	}

	.navbar-inner {
		border: 0;
	}


	h1#logo {
		width: 100px;
		position: relative;
		margin: 6px 0 6px -50px;
		float: left;
		z-index: 100;
	}

	li {
		padding: 0 30px;
	}
}

#home {
	padding: 30px 0;
	.span12 {
		text-align: center;
	}

	.row {
		margin-left: 0;
	}

	i {
		margin: 12px 18px 30px 18px;
	}

	.sixtyfive {
		color: $rise_white;
	}

	h1 {
	padding: 0 0 0 18px;

	}
}

h1 {
	letter-spacing: 1px;
	color: $rise_gold;
	font-family: $rise_syncopate;
	font-weight: 700;
	font-size: 100px;
}

h2 {
	color: $rise_white;
	font-family: $rise_prosto;
	font-weight: 400;
	font-size: 30px;
}


