<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="span6">
            <small>Follow Afterburner, Inc</small><br>
        <ul id="social-icons">
          <li id="twitter-icon">
            <%= link_to '', "https://twitter.com/AfterburnerInc" %>
          </li>
          <li id="facebook-icon">
            <%= link_to '', "https://www.facebook.com/afterburnerseminarsfanpage?fref=ts" %>
          </li>
          <li id="linked-in-icon">  
            <%= link_to '', "http://www.linkedin.com/company/afterburner/afterburner-seminars-240427/product" %>
          </li>
        </ul>
        <p class="space">
            <small>&copy; Copyright 2013 Afterburner, Inc. All rights reserved.</small>
        </p>
      </div>
      <div class="span6">
        <div class="address">
          <%= link_to "Afterburner, Inc", "http://www.afteburner.com" %><br>
            <small>55 Ivan Allen Jr Blvd; Suite 525</small><br>
            <small>Atlanta, GA 30308</small><br>

        
        <ul id="footer-contact">
          <li id="phone-icon">
            <small>404-835-3500</small>
          </li>
          <li id="email-icon">
            <small>support@afterburnertechnologies.com</small>
          </li>
          <li id="site-icon">
            <small>www.afterburner.com</small>
          </li>
        </ul>
        </div>
      </div>
    </div>
  </div>
</footer>