<header class="navbar navbar-fixed-top navbar-inverse" id="globalhead">
  	<div class="navbar-inner">
    	<div class="container">
    		<h1 id="logo"><%= image_tag('logo.png') %></h1>
    		<nav id="globalnav">
	    		  <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
	    		  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	    		    <span class="icon-bar"></span>
	    		    <span class="icon-bar"></span>
	    		    <span class="icon-bar"></span>
	    		  </a>
	    		  <div class="nav-collapse collapse">
	    		    <ul class="pager">
	    		        <li>ABOUT</li>
	    		        <li>SERVICES</li>
	    		        <li>NEWS</li>
	    		        <li>STORE</li>
	    		    </ul>
	    		  </div>
    		</nav>
    	</div>
  	</div>
</header>